<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row m-5">
            <div class="col-md-12">
                <h2>CV Database Profile List</h2>
            </div>
        </div>

        {% for profile in profiles %}
        <div class="row">
            <div class="col-md-6">
                {{profile.name}}
            </div>
            <div class="col-md-6">
                <a href="{% url 'resume' profile.id %}" class="btn btn-warning">Download CV</a>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
</body>

</html>